@{
    ViewBag.Title = "Contact";
}

<div class="container d-flex flex-column justify-content-center">
    <div class="content text-center">
        <h1>We're Here to help you</h1>
        <p>We always want to hear from you! Let us know how we can best help you and we'll do our very best.</p>
    </div>


    <form class="row g-3 my-5 conty mx-auto">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>

        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-md-12">
            <label for="inputCity" class="form-label">Message</label>
            <textarea name="" class="form-control" id="" cols="1000"></textarea>
        </div>
        <div class="col-md-12 mx-auto">
            <button type="submit" class="btn text-white btn-success">Sign in</button>
        </div>
    </form>

    <div class="details my-4 text-center row mx-auto ">
        <div class="col-md-3 text-center">
            <h5 class="mb-3">Lorel HQ</h5>
            <p>no 1, Lorel street, Abeokuta, Nigeria</p>
        </div>
        <div class=" col-md-1 border-right">
        </div>
        <div class="col-md-3 o">
            <h5 class="mb-3">Call Us</h5>
            <p>Mobile: (+234)-903-9955-447</p>
            <p>Hotline: 1800 - 1102</p>
        </div>
        <div class=" col-md-1 border-right"></div>
        <div class="col-md-3">
            <h5 class="mb-3">Mail ua</h5>
            <p>Info: eniolagboyin@gmail.com</p>
            <p>Support: deeneroro@gmail.com</p>
        </div>
    </div>
</div>